@import '../../styles/_variables';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  font-size: 1em;
  border: 1px solid #fff;
  border-radius: 3px;
  min-width: 120px;
  color: #fff;
  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .1);
  }
  &:active {
    border: 1px inset black;
  }
  &:focus {
    outline: none;
  }
  &:disabled {
    opacity: 0.65;
    cursor: not-allowed;
  }
  &.blue {
    background-color: $blue;
    &:hover {
      background-color: darken($blue, 5%);
    }
    i {
      color: #fff;
      margin: 0 4px 0 0;
    }
  }
  &.transparent {
    background-color: transparent;
    &:hover {
      // background-color: darken($blue, 5%);

        background-color: rgba(0,0,0,.07);
    }
  }

  &.full-width { width: 100%; }
  .btn-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 1em;
  }
  .spinning {
    // margin-right: 7px;
    // top: 2px;
    animation: spin 1.3s infinite linear;
  }
}

// .button
@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}
