@import '../../styles/_variables';

.drawer {
  height: 100%;
  position: absolute;
  background-color: #fff;
  transition: width .45s ease-in-out;
  width: 0px;
}
.hide {
  width: 0px;
}
.show {
  width: $drawer-width;
}
.drawer-header {
  height: $header-hight;
  background-color: $blue;
  padding: 8px;
  box-sizing: border-box;
  color: #fff;
}
